* {
	padding: 0;
  margin: 0;
box-sizing: border-box;
}
body {
	font-family: ;
  
}
header {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 2;
}


/*----- Hamburger -----*/
.navbar .hamburger div{
	display: block;
	height: 3px;
	background: #fff;
	margin: 5px;
	border-radius: 25px;
	transition: 0.3s;
	z-index: 10;


}
.navbar .hamburger {
	display: block;
	justify-content: center;
	width: 50px;
	height: 40px;
	z-index: 10;
}
.one {
	width: 45%;
	transform: translate(-20%,0px);
}
.two {
	width: 60%;
	transform: translate(-40%,0px);
}
.three {
	width: 35%;
	transform: translate(0%,0px);
}
.navbar .hamburger:hover div{
	width: 60%;
	transform: translate(-40%,0px);
	background: #2AEFFF;
}
.menu-text {
	color: #fff;
	display: none;
}

.hamburger.close .one{
	transform: translate(5%,5px) rotate(45deg);
}
.hamburger.close .three{
	transform: translate(70%,-2.5px) rotate(45deg);
}
.hamburger.close .two{
	transform: translate(5%,0px) rotate(-45deg);
}
/*----- End Hamburger -----*/

.sticky-wrapper{
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.element-wrapper{
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
}

/*.element {
  	top: 0;
	left: 0;
	
}*/
.element video {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

/*----- Overlay -----*/

.overlay-1 {
	display: flex;
	top: 0;
	left: 0;
	background: black;
	width: 50%;
	height: 100%;
	z-index: 50;
}



.container {
	font-family: 'Helvetica Neue', sans-serif;
	padding: 80px 200px;
}
.container .title {
	display: flex;
	text-transform: uppercase;
}
.title h1, i{
	color: #AFAFAF;
	font-size: 14px;
	padding-left: 10px;
}
.card-container {
	padding: 0px 120px;
}
.card-container .box-title h1{
	margin-bottom: 40px;
}
.card-container .redirect {
	width: 200px;
	height: 40px;
	border-radius: 25px;
	background: #24BCFF;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px;
}
.card-container .redirect a {
	font-family: 'Helvetica Neue', sans-serif;
	text-decoration: none;
	color: #ffffff;
}
.card {
	margin-top: 10%;
	border: none !important;
}
.card .btn-primary {
    color: #AFAFAF;
    background-color: #ffffff;
    border-color: #AFAFAF;
    border-radius: 25px;
}
.card .btn-primary:hover {
    color: #ffffff;
    background-color: #24BCFF;
    border-color: #24BCFF;
}