* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Bahnschrift', sans-serif;
}

body {
	background-color: gray;
}

.showcase{
	position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

.showcase.active {
	background-color: gray;
	opacity: 0.3;
}

.showcase header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.navbar {

	position:  relative;
	width: 30px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	cursor: pointer;
	z-index: 10;
}
.navbar span{
	display: flex;
	color: #fff;
}
.navbar .hamburger div{
	display: block;
	height: 3px;
	background: #fff;
	margin: 5px;
	border-radius: 25px;
	transition: 0.3s;
	z-index: 10;


}
.navbar .hamburger {
	display: block;
	justify-content: center;
	width: 50px;
	height: 40px;
	z-index: 10;
}
.one {
	width: 45%;
	transform: translate(-20%,0px);
}
.hamburger.close .one{
	transform: translate(5%,5px) rotate(45deg);
}
.hamburger.close .three{
	transform: translate(70%,-2.5px) rotate(45deg);
}
.hamburger.close .two{
	transform: translate(5%,0px) rotate(-45deg);
}
.two {
	width: 60%;
	transform: translate(-40%,0px);
}
.three {
	width: 35%;
	transform: translate(0%,0px);
}
.navbar .hamburger:hover div{
	width: 60%;
	transform: translate(-40%,0px);
	background: #2AEFFF;
}
/*---- Navigation Bar ----*/
.menu {
	transform: scaleX(1.0);
}
nav {
	position: absolute;
	background: #000000;
	top:  0;
	left: 0;
	right: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.79;
	transition: 0.03s;
	transform: scaleX(0);
	transform: left center ;
}

.footer {
	top:  0;
	left: 0;
	right: 0;
	position: absolute;
	display: flex;
	color: #ffffff;
}

nav ul{
	margin-left: 20%;
}
nav ul li {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 10px 0px;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
}
.block-menu {
	font-size: 50px;
}
.inline-menu {
	font-size: 25px;
}
.project {
	margin: 0px 20px;
	padding: 10px 20px;
	font-size: 14px;
	background: transparent;
	border: 1px solid #2AEFFF;
	border-radius: 25px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

/*---- Navigation End ----*/



.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
	background: rgb(20,38,62);
	background: linear-gradient(90deg, rgba(20,38,62,1) 0%, rgba(25,43,68,1) 35%, rgba(255,255,255,0) 100%);
	opacity: 1;
}

.showcase .text {
	position: relative;
	z-index: 10;
	color: white;
}
.showcase .text h1 {
	text-align: left;
	font-family: 'Bahnschrift', sans-serif;
	font-weight: 900;
	font-size: 44px;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.showcase .text p {
	text-align: left;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 15px;
	max-width: 40%;
	margin: 10px 0px;
	color: #FFFFFF;
}
.showcase .text a {
	display: flex;
	margin: 20px 0px;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 40px;
	background: #2AEFFF;
	border: 1px solid #2AEFFF;
	border-radius: 25px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
}
.showcase .text a:hover{
	background: transparent;
	border: 1px solid #2AEFFF;
	font-size: 17px;
}

@media(max-width: 991px){
	.showcase, .showcase header {
		padding: 40px;
	}
}

